{% extends 'catalog/base.html' %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-6">
        <div class="card mb-3" style="max-width: 50 px;">
            <div class="row g-0">
                {% include 'catalog/includes/inc_img.html' %}
                <div class="col-md-4">{{ object.description|slice:"0:100" }}
                    <a href="{% url 'catalog:view_product' object.pk %}" type="button" class="btn btn-primary btn-sm">Подробнее
                        о товаре</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

